[Unit]
Description=Bili x11vnc remote access
After=bili-xvfb.service
Requires=bili-xvfb.service

[Service]
ExecStart=/usr/bin/x11vnc -display :99 -forever -shared -rfbauth /root/.vnc/passwd -listen 0.0.0.0 -rfbport 5900
Restart=always
RestartSec=5

StandardOutput=journal
StandardError=journal
SyslogIdentifier=bili-x11vnc

[Install]
WantedBy=multi-user.target