[Unit]
Description=openbox window manager
After=xvfb.service
Requires=xvfb.service

[Service]
Environment=DISPLAY=:99
ExecStart=/usr/bin/openbox
Restart=always
RestartSec=3

StandardOutput=journal
StandardError=journal
SyslogIdentifier=openbox

[Install]
WantedBy=multi-user.target